/* alimobstyle.captcha 样式模块 */

.ali-captcha-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
}
.ali-captcha-image {
    position: relative;
    padding: 3px 4px;
    width: 182px;
    height: 42px;
    border: 1px solid #bfbfbf;
    background-color: #eaeaea;
    line-height: 1.3;
    text-align: right;
    font-size: .875em;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
}
.ali-captcha-button,
.ali-captcha-image {
    margin: 4px 0 4px 5px;
}
.ali-captcha-button button {
    margin: 0;
    height: 42px;
}
.ali-captcha-image img {
    position: absolute;
    top: 4px;
    left: 4px;
    margin-right: 4px;
}